<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <style type="text/css">
    html, body {
      height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
      background: #111;
      color: #eee;
      font: caption;
    }

    canvas {
      width: 100%;
      height: 100%;
      object-fit: contain;
      /* <https://caniuse.com/#feat=object-fit> */
    }

    @font-face {
          font-family: mini-square;
          src: url('assets/fonts/Kenney Mini Square.ttf');
          font-weight: 400;
          font-weight: normal;
        }
  </style>
</head>
<body>
<div style="font-family:mini-square; position:absolute; left:-1000px; visibility:hidden;">.</div>
</body>
</html>
